html, body, #root
{
  height: 100%;
  margin: 0;
  /* font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; */
  font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
  /* background: linear-gradient(to bottom, #eef2ff, #f6f8fb); */
  background: linear-gradient(to bottom right, #007722, #77EE99);
}
